<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>ПромАвтоматика</ShortName>
  <Image width="16" height="16" type="image/x-icon">http://prom-auto.ru/wiki/lib/tpl/arctic/images/favicon.ico</Image>
  <Url type="text/html" template="http://prom-auto.ru/wiki/doku.php?do=search&amp;id={searchTerms}" />
  <Url type="application/x-suggestions+json" template="http://prom-auto.ru/wiki/lib/exe/ajax.php?call=suggestions&amp;q={searchTerms}" />
</OpenSearchDescription>
